  @import '../../../app.component.scss';

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .parcelamento {
    display: flex;
    flex-direction: column;
    color: black;
    padding-bottom: 20px;

    h1 {
      text-align: center;
      color: $cor-primaria;
      margin-bottom: 2rem;
    }

    .parcelamentos__botoes {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      margin: 1rem 0rem;

      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: $raio-borda;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          filter: brightness(0.9);
        }
      }

      .parcelamentos__botoes-novo {
        background-color: $cor-primaria;
        color: white;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 0;
        border: 2px solid $cor-primaria;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: $sombra-caixa;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: lighten($cor-subtitulo, 10%);
          color: $cor-primaria;
          border-color: $cor-primaria;
          transform: scale(1.05);
        }

        &:active {
          background-color: darken($cor-primaria, 10%);
          transform: translateY(2px);
        }
      }


      &--editar {
        background-color: $cor-botao-editar;
        color: white;

        &:hover {
          background-color: darken($cor-botao-editar, 10%);
        }
      }

      &--deletar {
        background-color: $cor-botao-deletar;
        color: white;

        &:hover {
          background-color: darken($cor-botao-deletar, 10%);
        }
      }
    }

    .parcelamentos__filtro-botao {
      position: absolute;
      right: 2em;
      top: 11.3em;
      background-color: $cor-hover-botao-filtro;
      color: white;
      border: none;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      font-size: 20px;
      cursor: pointer;
      box-shadow: $sombra-caixa;
      transition: transform 0.3s ease, background-color 0.3s ease;

      &:hover {
        background-color: darken($cor-hover-botao-filtro, 10%);
        transform: scale(1.1);
      }

      span {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .parcelamentos__filtro-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $cor-modal-filtro;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;

      &.show {
        opacity: 1;
        pointer-events: all;
      }

      h3 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        padding: 10px;
        margin: 5px 0;
        background-color: darken($cor-modal-filtro, 10%);
        cursor: pointer;
        border-radius: $raio-borda;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }

    .parcelamentos__sem-resultados {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      background-color: $cor-sem-dados;
      border-radius: $raio-borda;
      border: 1px solid darken($cor-sem-dados, 10%);
      ;
      text-align: center;
      color: darken($cor-sem-dados, 60%);
      font-size: 18px;
      font-weight: bold;

      p {
        margin: 0;
      }
    }

    .parcelamentos__cartao {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: $raio-borda;
      box-shadow: $sombra-caixa;

      h2 {
        color: $cor-primaria;
        margin-bottom: 10px;
      }

      .parcelamentos__empresa-botao {
        width: 100%;
        padding: 20px;
        background-color: $cor-fundo-cartao;
        color: rgb(0, 0, 0);
        font-weight: 100;
        text-align: left;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: $cor-fundo-cartao-hover;
          color: white;
          transform: translateY(-2px);

          h3 {
            color: lighten($cor-subtitulo, 50%);
          }
        }

        &--info {
          display: flex;
          flex-direction: column;
          gap: 8px;

          h3 {
            font-size: 18px;
            font-weight: bold;
            color: $cor-subtitulo;
          }

          p {
            margin: 5px 0;
          }
        }
      }
    }

    .parcelamentos__modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;

      &.show {
        opacity: 1;
        pointer-events: all;
      }
    }

    button {
      padding: 10px 20px;
      background-color: $cor-botao-positivo;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: $raio-borda;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      margin-top: 10px;

      &:disabled {
        background-color: gray;
        cursor: not-allowed;
      }

      &:hover {
        background-color: darken($cor-botao-positivo, 10%);
        transform: translateY(-2px);
      }
    }

    .parcelamentos__filtro-modal--conteudo {
      background: $cor-modal-certeza;
      color: white;
      padding: 30px 40px;
      border-radius: $raio-borda;
      text-align: center;
      box-shadow: $sombra-caixa;
      width: 400px;
      max-width: 90%;
      animation: fadeIn 0.4s ease-out;

      h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
      }

      p {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
      }

      button {
        padding: 12px 25px;
        border-radius: $raio-borda;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        margin: 5px;
        transition: background-color 0.3s ease;
      }

      button:last-child {
        background-color: $cor-botao-negativo;
        color: white;

        &:hover {
          background-color: darken($cor-botao-negativo, 10%);
        }
      }
    }
  }

  .modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;

    &__conteudo {
      background: #fff;
      padding: 2rem;
      border-radius: 8px;
      text-align: center;
      color: red;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      width: 90%;
      max-width: 500px;
      animation: fadeIn 0.3s ease-in-out;

      h3 {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        color: #333;
      }

      input[type="file"] {
        margin-bottom: 1rem;
      }

      .modal__form {
        .form-group {
          margin-bottom: 1.2rem;
          text-align: left;

          label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: $cor-texto-escuro;
          }

          input[type="text"],
          textarea {
            width: 95%;
            padding: 0.75rem;
            border: 1px solid #ccc;
            border-radius: $raio-borda;
            font-size: 1rem;
            color: $cor-texto-escuro;
            outline: none;
            transition: border-color 0.3s ease;

            &::placeholder {
              color: #999;
            }

            &:focus {
              border-color: $cor-primaria;
            }
          }
        }
      }

      button {
        display: inline-block;
        margin: 0 0.5rem;
        padding: 0.75rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        color: #fff;

        &:first-of-type {
          background-color: $cor-botao-positivo;

          &:hover:not(:disabled) {
            background-color: darken($cor-botao-positivo, 10%);
          }
        }

        &:last-of-type {
          background-color: $cor-botao-negativo;

          &:hover:not(:disabled) {
            background-color: darken($cor-botao-negativo, 10%);
          }
        }

        &:disabled {
          background-color: #adb5bd;
          cursor: not-allowed;
        }
      }
    }
  }



  @media (max-width: 800px) {
    .parcelamento {
      padding: 10px;

      h1 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .parcelamentos__filtro-botao {
        right: 0.5em;
        top: 11.7em;
        font-size: 18px;
      }

      .parcelamentos__cartao {
        padding: 10px;

        h2 {
          font-size: 1.2rem;
        }

        .parcelamentos__empresa-botao {
          padding: 15px;
          font-size: 0.9rem;
        }
      }
    }
  }