<header class="header">
  <div class="header__logo" routerLinkActive="active">
    <button [routerLink]="['/home']" (click)="fecharMenuHamburger()">Contabills</button>
  </div>

  <button class="header__hamburger" *ngIf="usuarioLogado" (click)="alternarMenuHamburger()">&#9776;</button>

  <nav class="header__nav" *ngIf="usuarioLogado" [class.active]="menuAberto">
    <ul class="header__nav-lista">
      <li class="header__nav-usuario-info header__nav-item" routerLinkActive="active">
        <button [routerLink]="['/profile']" (click)="fecharMenuHamburger()">
          <ng-container *ngIf="usuarioFotoUrl; else defaultProfile">
            <img class="header__nav-perfil-img" [src]="usuarioFotoUrl" alt="Foto do usuário">
          </ng-container>
          <ng-template #defaultProfile>
            Perfil
          </ng-template>
        </button>
      </li>
      <li class="header__nav-item" routerLinkActive="active">
        <button [routerLink]="['/socios']" (click)="fecharMenuHamburger()">Clientes</button>
      </li>
      <li class="header__nav-item" routerLinkActive="active">
        <button [routerLink]="['/empresas']" (click)="fecharMenuHamburger()">Empresas</button>
      </li>
      <li class="header__nav-item" routerLinkActive="active">
        <button [routerLink]="['/parcelamentos']" (click)="fecharMenuHamburger()">Parcelamentos</button>
      </li>
      <li class="header__nav-item" routerLinkActive="active">
        <button (click)="logout(); fecharMenuHamburger()" class="botao">Sair</button>
      </li>
    </ul>
  </nav>
</header>